{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form id='stockrequest' method="POST" action='index'>
           <p>
           Ticker Symbol: <input type='text' name='ticker' />
           </p>
           
           <div>
           <input type='checkbox' id='cp' name='plotitem' value='close' />
           <label for='cp'>Closing price</label>
           </div> 
           
           <div>
           <input type='checkbox' id='acp' name='plotitem' value='adj_close'/>
           <label for='acp'>Adjusted closing price</label>
           </div> 
                    
           <div>
           <input type='checkbox' id='op' name='plotitem' value='open'/>
           <label for='op'>Opening price</label>
           </div> 
           
           <div>
           <input type='checkbox' id='aop' name='plotitem' value='adj_open'/>
           <label for='aop'>Adjusted opening price</label>
           </div>     
                             
           <p>
           <input type='submit' value='Submit' /> <!-- value is the text that will appear on the button. -->
           </p>               

        </form>
    </div>
{% endblock content %}
